@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-Learning Courses</h1>
    <p class="lead">Welcome to e-learning cousers</p>
    <p><img src="~/Assets/Images/Image1.jpg" class="img-responsive" /></p>
    <p><a href="#" class="btn btn-primary btn-lg">Download Courses &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Assets/Images/Image2.jpg" class="img-responsive" width="275" height="159" />
    </div>
    <div class="col-md-4">
        <img src="~/Assets/Images/Image3.jpg" class="img-responsive" />
    </div>
    <div class="col-md-4">
        <img src="~/Assets/Images/Image4.jpg" class="img-responsive" />
    </div>
</div>